<div class="grid grid-cols-2 gap-6">

    @for(metric of metrics; track metric){

    <div class="glass p-8 rounded-3xl card-hover relative overflow-hidden">

        <div class="absolute top-[-40px] right-[-40px] w-[120px] h-[120px] bg-cyan-500/10 rounded-full blur-3xl"></div>

        <div class="flex justify-between items-center relative z-10">

            <div>

                <p class="text-gray-400 text-lg">
                    {{metric.title}}
                </p>

                <h1 class="text-5xl font-black text-cyan-400 mt-5">
                    {{metric.value}}
                </h1>

            </div>

            <div class="w-20 h-20 rounded-3xl bg-cyan-500/10 glow flex items-center justify-center text-4xl">

                {{metric.icon}}

            </div>

        </div>

    </div>

    }

</div>