<div class="glass p-10 rounded-3xl">

    <h1 class="text-4xl font-black mb-10">
        Simulador Estadístico M/M/1
    </h1>

    <div class="grid grid-cols-2 gap-8">

        <div>

            <label class="block mb-4 text-xl">
                Lambda λ
            </label>

            <input
                type="number"
                [(ngModel)]="lambda"
                class="w-full p-5 rounded-2xl bg-[#111827] border border-cyan-500/20"
            >

        </div>

        <div>

            <label class="block mb-4 text-xl">
                Mu µ
            </label>

            <input
                type="number"
                [(ngModel)]="mu"
                class="w-full p-5 rounded-2xl bg-[#111827] border border-cyan-500/20"
            >

        </div>

    </div>

    <button
        (click)="calculate()"
        class="mt-10 bg-cyan-500 hover:bg-cyan-600 transition px-10 py-5 rounded-2xl text-xl font-bold"
    >
        Ejecutar Simulación
    </button>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 mt-12">

        <div class="bg-[#111827] p-8 rounded-3xl">

            <h2 class="text-gray-400 text-xl">
                Utilización
            </h2>

            <h1 class="text-5xl font-black text-cyan-400 mt-6">
                {{utilization.toFixed(2)}}
            </h1>

        </div>

        <div class="bg-[#111827] p-8 rounded-3xl">

            <h2 class="text-gray-400 text-xl">
                Tiempo Promedio
            </h2>

            <h1 class="text-5xl font-black text-cyan-400 mt-6">
                {{averageTime.toFixed(2)}}
            </h1>

        </div>

        <div class="bg-[#111827] p-8 rounded-3xl">

            <h2 class="text-gray-400 text-xl">
                Longitud Cola
            </h2>

            <h1 class="text-5xl font-black text-cyan-400 mt-6">
                {{queueLength.toFixed(2)}}
            </h1>

        </div>

    </div>

</div>