<div class="w-[300px] min-h-screen glass border-r border-cyan-500/10 p-8 fixed">

    <!-- LOGO -->

    <div class="flex items-center gap-4 mb-16">

        <div class="w-16 h-16 rounded-3xl bg-cyan-500 glow flex items-center justify-center text-3xl font-black">
            Q
        </div>

        <div>

            <h1 class="text-3xl font-black text-cyan-400">
                QoS Analytics
            </h1>

            <p class="text-gray-400">
                Intelligent Monitoring
            </p>

        </div>

    </div>

    <!-- MENU -->

    <div class="space-y-4">

        <div class="bg-cyan-500/15 border border-cyan-500/20 p-5 rounded-2xl cursor-pointer glow">

            <h1 class="text-lg font-bold">
                📊 Dashboard
            </h1>

        </div>

        <div class="hover:bg-white/5 transition p-5 rounded-2xl cursor-pointer">

            <h1 class="text-lg text-gray-300">
                📈 Estadísticas
            </h1>

        </div>

        <div class="hover:bg-white/5 transition p-5 rounded-2xl cursor-pointer">

            <h1 class="text-lg text-gray-300">
                🌐 Tráfico de Red
            </h1>

        </div>

        <div class="hover:bg-white/5 transition p-5 rounded-2xl cursor-pointer">

            <h1 class="text-lg text-gray-300">
                ⚡ Simulación M/M/1
            </h1>

        </div>

        <div class="hover:bg-white/5 transition p-5 rounded-2xl cursor-pointer">

            <h1 class="text-lg text-gray-300">
                📑 Reportes
            </h1>

        </div>

    </div>

    <!-- STATUS -->

    <div class="absolute bottom-10 left-8 right-8 glass p-6 rounded-3xl glow">

        <div class="flex justify-between items-center">

            <div>

                <p class="text-gray-400 text-sm">
                    Estado del sistema
                </p>

                <h1 class="text-green-400 text-2xl font-black mt-2">
                    ONLINE
                </h1>

            </div>

            <div class="w-4 h-4 rounded-full bg-green-400 animate-pulse"></div>

        </div>

    </div>

</div>