/* Soporte nativo para cuando se active la clase .dark en el tag <html> o padres */
:host-context(.dark) .card {
    background: #1e293b;
    border-color: #334155;
    box-shadow: 0 10px 30px -15px rgba(0,0,0,0.5);
}

:host-context(.dark) .mini-card {
    background: #0f172a;
    border-color: #334155;
}

:host-context(.dark) .mini-card:hover {
    background: #1e293b;
}

:host-context(.dark) .table-header {
    background: #0f172a;
    color: #94a3b8;
}

:host-context(.dark) .table-row {
    background: #1e293b;
    border-color: #334155;
    color: #cbd5e1;
}

:host-context(.dark) .table-row:hover {
    background: #0f172a;
    border-color: #475569;
}